<p id="notice"><%= notice %></p>
<h1>おつかれねこ🐱</h1>


<h1>Diaries</h1>
<%= current_user.first_name %>



<div class="container pt-3">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      
 
  <!-- 日記-->
  <div class="row">
    <div class="col-12">
      <div class="row">
      <%# if @diaries.present? %>
          <%#= render @diaries %>
        <%# else %>
          <p><%#= t('.no_result') %></p>
        <%# end %>
        
        
    <%= @diaries %>

    
  <li>
   <%#= link_to diary..name, diaries_path %>
  </li>
<%# end %>

      </div>
    </div>
  </div>
  
  <%= link_to 'New Diary', new_diary_path %>

</div>